[submodule "html2canvas"]
	path = html2canvas
	url = https://github.com/yaronn/html2canvas.git
[submodule "jsgif"]
	path = jsgif
	url = https://github.com/antimatter15/jsgif.git
[submodule "anigif/jsgif"]
	path = anigif/jsgif
	url = https://github.com/yaronn/jsgif.git
[submodule "pacman"]
	path = pacman
	url = https://github.com/yaronn/pacman.git		  
[submodule "helicopter"]
	path = helicopter
	url = https://github.com/yaronn/helicopter.git
[submodule "examples/helicopter"]
	path = examples/helicopter
	url = https://github.com/yaronn/helicopter.git